/**
 * Projet AD - Version 1.15
 */
div#panierPersistant {
	height: 300px;
	width: 193px;
	/*overflow: hidden;	*/
}

div#panier, div#panierCde {
    height:             300px;
    /* width:              193px; */
    width:				300px;/* MK */
    background-image:   url('../../img/panier/bordDroit_new.gif');
    background-position: 0 0;
    background-repeat:  repeat-y;
    overflow:           hidden;
    right: 10px;
    bottom:0;
    position:fixed;
}
div#panier *, div#panierCde * {
    margin:             0;
    padding:            0;
}
p#panier_prix, p#panier_prixCde  {
    font-family: Arial;
    position:           absolute;
    /* top:                28px; */
    top:				22px;
    /* left:               113px; */ /* MK */
    left:				210px;
    color:              #ff4600;
    background-color:   inherit;
    font-size:          14px;
    font-weight:        bold;
    width:              70px;
    text-align:         right;
    font-family:        arial helvetica, sans-serif;
    z-index:			1001;
}
img#hautpanier, img#hautpanierCde {
    position:           absolute;
    top:                0;
    left:               0;
    /* width:              193px; */
    width:				300px; /* MK */
    height:             40px;
    border:             none;
    /* border:				1px solid #000000; */
    z-index:			1000; /* Pour positionner au dessus des produits */
}
div#piedpanier, div#piedpanierCde {
    background-image:   url('../../img/panier/piedpanier_new.gif');
    /* background-position: 0 0; */
    background-position:	0 -15px;
    background-repeat:  no-repeat;
    position:           absolute;
    left:               0;
    bottom:             0;
    border:             none;
    /* width:              193px; */
    width:				300px;/* MK */
    /* height:             54px; */
    height:				40px;
}

/* Boutons du panier (bas) */
input#panier_vider, input#panier_viderCde {
    width:              55px;
    height:             25px;
    position:           absolute;
    top:                0;
    left:               8px;
    /* margin-top:			15px; */
    margin-top:			5px;
}
input#panier_detail {
    width:              55px;
    height:             25px;
    position:           absolute;
    top:                0;
    left:              67px;
    /* margin-top:			15px; */
    margin-top:			5px;
    /* border:				1px solid #000000; */ /* MK */
}
input#panier_sauvegarder {
    width:              61px;
    height:             25px;
    position:           absolute;
    top:                0;
    left:				126px;
    /* margin-top:			15px; */
    margin-top:			5px; 
    /* right:              7px; */
}
input#panier_payer {
    /* width:              125px; */
    width:				106px;
    height:             25px;
    position:           absolute;
    /* top:                25px; */
    top:				0px;
    /* left:               34px; */
    left:				191px;
    /* margin-top:			15px; */
    margin-top:			5px;
}
input#panier_payer_cde{
    /* width:              168px; */
    width:				106px;
    height:             25px;
    position:           absolute;
    /* top:                25px; */
    top:				0px;
    /* left:               13px; */
    left:				191px;
    margin-top:			5px;
}
/* Articles */
div#panier_contenu, div#panier_contenuCde {
    position:           relative;
    /* top:                50px; */
    top:				35px;
    /* padding-top:        5px; */
    height:             250px;
    width:              195px;
    margin:             0;
    padding:            0;
    border-left:        1px solid #999;
}
div#panier_contenu p, div#panier_contenuCde p {
    margin:             0;
    padding:            0;
    /* width:              200px; */
    width:				280px;/* MK */
    line-height:        2em;
    position:           relative;
    top:                0.25em;
    left:               0.25em;
    font-size:          11px;
    clear:              left;
}
span.nbArticles {
    display:            block;
    float:              left;
    width:              20px;
    height:             20px;
    line-height:        20px;
    background-image:   url('../../img/panier/quantite.gif');
    background-position: 0 2px;
    background-repeat:  no-repeat;
    text-align:         center;
}
span.maxiArticles  {
    display:            block;
    float:              left;
    width:              20px;
    height:             20px;
    line-height: 20px;
    background-image:   url('../../img/panier/quantite.gif');
    background-position: 0 2px;
    background-repeat:  no-repeat;
    text-align:         center;
    color:              #f00;
    background-color:   inherit;
}
span.ajoutretrait {
    display:            block;
    float:              left;
    width:              10px;
    height:             20px;
}
span.ajoutretrait img {
    border:             none;
    width:              9px; 
    height:             19px;
}
span.descArtPanier a {
    color:              #000;
    background-color:   inherit;
    text-decoration:    none;
    font-family:        arial;
}
span.prixArtPanier {
    position:           absolute;
    right:              0px;
   	/* left:				250px; */ /* MK */
    top:                0px;
    font-weight:        bold;
    font-family:        arial;
    /* width:				45px;*/ /* MK */
}

/* Bloc d'enregistrement du panier courant dans une liste */
div#panierListe  {
    position:           fixed;
    right: 10px;
    width:              193px;
    height:             170px;
    background-image:   url('../../img/static/basket/ajoutPanierListe.gif');
    background-position: 0 0;
    background-repeat:  no-repeat;
    text-align:         center;
    margin:             0;
    padding:            0;
}
div#panierListe h4 {
    position:           relative;
    top:                0;
    left:               0;
    height:             24px;
    line-height:        24px;
    color:              #fff;
    background-color:   inherit;
    background-image:   none;
    padding:            0;
    margin:             0;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}
div#panierListe p.rouge {
    position:           relative;
    top:                -2px;
    font-size:          11px;
}
div#panierListe p.gris {
    text-align:         center;
    font-size:          11px;
    padding-top: 20px;
}
div#panierListe p.txt10 {
    position:           relative;
    bottom:             -5px;
    left:               -1px;
}
div#panierListe input#ListName {
    width:              173px;
    font-size:          10px;
    font-weight: bold;
}
div#panierListe input#annulSauvePanier, div#panierListe input#sauverListePanier {
    width:              83px;
    height:             24px;
    margin-top:         10px;
}
